@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.layout__header {
  background-color: #141523;
  color: white;
}

.menu__nav {
  gap: 1.5rem;
}

.gap__flex {
  gap: 0.75rem;
}

.section__title {
  font-size: 1.5rem;
}

.movie__card__title {
  font-size: 1rem;
}

.movie__card__image {
  border-radius: 8px;
}

.movie__card__layout {
  cursor: pointer;
  transition: all 0.2s;
}

.movie__card__layout:hover {
  transform: scale(0.95);
}
.movie__card__layout img {
  transition: all 0.2s;
  filter: grayscale(1);
}
.movie__card__layout img:hover {
  filter: grayscale(0);
  transition: all 0.2s;
}

.section__gallery {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll__bar__hide {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll__bar__hide::-webkit-scrollbar {
    display: none;
}

.banner__layout {
  width: 100vw;
  aspect-ratio: 16/5;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.previous__icon {
  transform: rotate(180deg) translateY(50%) !important;
  left: 0;
}

.previous__icon, .next__icon {
  cursor: pointer;
  z-index: 1;
}

.center__y__absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next__icon {
  right: 0;
}

@media screen and (max-width: 600px){
  .banner__layout {
    aspect-ratio: 16/9;
  }
  .movie__card__layout img {
    filter: grayscale(0);
  }
}